{% load static %}
{% load i18n %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet" 
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
    <!-- Agregar Chart.js desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <section class="base-header-primary">
                <a href="{% url "core:index" %}">  
                <h1><strong>VotacionesM4</strong></h1>
                </a>
                <nav>
                          {% if request.user.is_authenticated %}
                        <a class="btn btn-outline-success" onClick="window.location.href='/logout'"
                           role="button">{% trans "Cerrar Sesión" %}</a>
                        <a class="btn btn-outline-success" onClick="window.location.href='/assigned_census'"
                           role="button">{% trans "Votaciones Asignadas" %}</a>
                        <a class="btn btn-outline-success"  onClick="window.location.href='/ver-comentarios'" role="button">{% trans "Votaciones Finalizadas" %}</a>
            
                        <a class="btn btn-outline-success" onClick="redirectToHome()" role="button">{% trans "Home" %}</a>
            
                        <script>
                            function redirectToHome() {
                                window.location.href = '{% url "core:index" %}';
                            }
                        </script>
            
                        {% else %}
                        <a class="btn btn-outline-success" href="{% url "core:signup" %}" role="button">{% trans "Registro" %}</a>
                        <a class="btn btn-outline-success" href="{% url "core:login" %}" role="button">{% trans "Iniciar Sesion" %}</a>
            
                        {% endif %}
                </nav>
                </section>
        </nav>


        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>
            <h3>[[ voting.desc ]]</h2>
            <h2 v-if="!voting.start_date">{% trans "Votación no comenzada" %}</h2>
            <h2 v-else-if="!voting.end_date">{% trans "Votación en curso" %}</h2>
            <div v-else>
                <h2 class="heading">{% trans "Resultados:" %}</h2>
                <h4> {% trans "La votación fue respondida por" %} [[voting.tally.length]] {% trans "persona(s)" %}. </h4>
                <div>
                    {% if max_votes_option %}
                        <h4> {% trans "La opción más votos fue: " %} {{max_votes_option}} </h4>
                    {% endif %}
                </div>

                <!-- Tabla de Resultados -->
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Opción" %}</th>
                            <th>{% trans "Puntuación" %}</th>
                            <th>{% trans "Votos" %}</th>
                            <th>{% trans "Porcentaje" %} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                            <th> [[ opt.postproc/voting.tally.length * 100]] % </th>
                        </tr>
                    </tbody>
                </table>

                <!-- Gráfico de Barras -->
                <canvas id="resultChart" width="400" height="200"></canvas>
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        var voting = {{voting|safe}};
        const { createApp } = Vue
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting
                }
            }
        }).mount('#app-visualizer')
    </script>
    <script>
        // Obtener datos de la votación desde Django
        var resultsData = {{ voting_results|safe }};

        // Crear un contexto para el gráfico
        var ctx = document.getElementById('resultChart').getContext('2d');

        // Crear un gráfico de barras
        var resultChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: resultsData.labels,
                datasets: [{
                    label: 'Votos por Opción',
                    data: resultsData.votes,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}