<!-- comentarios/templates/comentarios/editar_comentario.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Editar Comentario" %}</h2>
    <form method="post" action="{% url 'editar_comentario' comentario.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Guardar Cambios" %}</button>
    </form>
    <a href="{% url 'ver_comentarios' %}" class="btn btn-secondary mt-3">{% trans "Volver a Comentarios" %}</a>
{% endblock %}
