<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - VotacionesM4</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block extrahead %}
        <!-- Add any additional head content here -->
    {% endblock %}
</head>
<body>
<style>
    body {
        background-color: #f4f4f4; /* Color de fondo suave */
        font-family: 'Lato', sans-serif; /* Fuente personalizada */
        margin: 0;
        padding: 0;
    }

    /* Resto de tu CSS ... */
</style>
<header>
    <section class="base-header-primary">
        <a href="{% url "core:index" %}">
            <h1><strong>VotacionesM4</strong></h1>
        </a>
        {%get_current_language as LANGUAGE_CODE %}

        <form action="{% url 'set_language' %}" method="POST" class="form-inline" style="margin-right:20px">
            {% csrf_token %}
            <input type="hidden" name="text" value="{{ redirect_to }}" class="form-control">
            <select name="language" id="languageSelect" class="form-control mr-2">
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                  {{ language.name_local }} {{ language.code }}
                </option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">{% trans "Traducir" %}</i></button>
        </form>
    
        <nav>
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-success" onClick="window.location.href='/assigned_census'"
               role="button">{% trans "Votaciones Asignadas" %}</a>
            <a class="btn btn-outline-success"  onClick="window.location.href='/ver-comentarios'" role="button">{% trans "Votaciones Finalizadas" %}</a>

            <a class="btn btn-outline-success" onClick="redirectToHome()" role="button">{% trans "Home" %}</a>

            <a class="btn btn-outline-success" onClick="window.location.href='/logout'"
            role="button">{% trans "Cerrar Sesión" %}</a>




            <script>
                function redirectToHome() {
                    window.location.href = '{% url "core:index" %}';
                }
            </script>

            {% else %}
            <a class="btn btn-outline-success" href="{% url "core:signup" %}" role="button">{% trans "Registro" %}</a>
            <a class="btn btn-outline-success" href="{% url "core:login" %}" role="button">{% trans "Iniciar Sesion" %}</a>

            <script>
                function redirectToHome() {
                    window.location.href = 'http://localhost:8080/';
                }
            </script>
            {% endif %}
        </nav>
    </section>
    <section class="base-header-secondary">
        <h2>{% block description %}{% endblock description %}</h2>
    </section>
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>{% trans "Conecta con nosotros en nuestras redes sociales:" %}</span>
        </div>
        <div>
            <a href="https://www.facebook.com/UniversidaddeSevillaoficial" target="_blank" class="me-4 text-reset">
                <i class="fab fa-facebook-f" , style="margin-right:5px"></i>
                Facebook
            </a>
            <a href="https://twitter.com/unisevilla" target="_blank" class="me-4 text-reset">
                <i class="fab fa-twitter" , style="margin-right:5px"></i>
                Twitter
            </a>
            <a href="https://www.youtube.com/user/UniversidaddeSevilla" target="_blank" class="me-4 text-reset">
                <i class="fab fa-youtube" , style="margin-right:5px"></i>
                YouTube
            </a>
            <a href="https://www.instagram.com/unisevilla/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-instagram" , style="margin-right:5px"></i>
                Instagram
            </a>
            <a href="https://www.linkedin.com/school/universidad-de-sevilla/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-linkedin" , style="margin-right:5px"></i>
                Linkedin
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> {% trans "Universidad de Sevilla" %}
                    </h6>
                    <p>
                        {% trans "Somos una de las universidades más antiguas, teniendo más de 500 años de historia, y la tercera universidad más grande de España" %}
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        {% trans "Productos" %}
                    </h6>

                    <p>
                        <a href="https://www.informatica.us.es/" target="_blank" class="text-reset">{% trans "Universidad de Informática" %}</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">{% trans "Contacto" %}</h6>
                    <p><i class="fas fa-home me-3"></i> {% trans "Sevilla, Av. de la Reina Mercedes 41012, ES" %}</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        VotacionesM4@votaciones.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 34 642 24 40 00</p>
                </div>
            </div>
        </div>
    </section>

</footer>
</body>
</html>
