{% extends "core/base.html" %}

{% load static %}
{% load i18n %}

{% block title %} {% trans "Censos asignados" %} {% endblock title %}

{% block header %}
{% endblock header %}

{% block description %} {% trans "Tienes estos census asignados" %}{% endblock description %}

{% block content %}
<h2 class="text-center">{% trans "Lista de census" %}</h2>
<table class="table mx-auto">
  <thead>
    <tr>
      <th>{% trans "ID de la votación" %}</th>
      <th>{% trans "Nombre de la votación" %}</th>
      <th>{% trans "Fecha de inicio" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for vot in votings %}
      <tr>
        <td class="destino-clickable"><a href="{% url 'booth' voting_id=vot.id %}">{{ vot.id }}</a></td>
        <td>{{ vot.name }}</td>
        <td>{{ vot.start_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<style>
.table {
  width: 80%;
  margin: auto;
}

.destino-clickable {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
</style>
{% endblock content %}